{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>GameZone | Gallery</title>
{% endblock %}

{% block content %}
	<!-- wrapper -->
	<div id="wrapper">	
		<section class="hero" style="background-image: url({% static 'img/gallery-contact/cover.jpg' %});">
			<div class="hero-bg-primary"></div>
			<div class="container">
				<div class="page-header">
					<div class="page-title">Galleries</div>
					<ol class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active">Gallery</li>
					</ol>	
				</div>
			</div>
		</section>
	
		<section class="border-bottom-1 border-grey-300 padding-30">
			<div class="container text-center">
				<h2 class="font-size-22 font-weight-500">Images<span class="font-weight-300"> Library</span></h2>
			</div>
		</section>
		
		<section class="bg-grey-50 padding-top-40 padding-xs-15">
			<div class="container margin-bottom-30">
				<ul id="filter" class="filter">
					<li><a href="#" data-filter="*" class="active">All</a></li>
					<li><a href="#" data-filter="#PS4">Playstation 4</a></li>
					<li><a href="#" data-filter="#XboxOne">Xbox One</a></li>
					<li><a href="#" data-filter="#PC">PC / Desktop</a></li>
				</ul>
			</div>
			
			<div class="container gallery">
				<div class="row isotope masonry">
					{% for game in games %}
					<div id="{{ game.console }}" class="col-lg-3 col-md-4 col-sm-6 col-xs-12 grid">
						<figure class="img-hover">
							<img src="{{ game.image.url }}" alt="">
							<figcaption>
								<h2>{{ game.title }}</h2>
								<a href="{{ game.image.url }}" data-title="{{ game.title }}" data-toggle="lightbox" data-gallery="multiimages"></a>
							</figcaption>			
						</figure>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
	<!-- /#wrapper -->
{% endblock %}	

{% block javascript %}	
	<!-- Javascript -->
	<script src="{% static 'plugins/isotope/jquery.isotope.min.js'%}"></script>
	<script src="{% static 'plugins/ekko-lightbox/ekko-lightbox.min.js'%}"></script>
	<script src="{% static 'plugins/masonry/imagesloaded.pkgd.min.js'%}"></script>
	<script src="{% static 'plugins/masonry/masonry.pkgd.min.js'%}"></script>
	<script>
	(function($) {
	"use strict";
		var $container = $('.masonry');
		$($container).imagesLoaded( function(){
			$($container).masonry({
				itemSelector: '.grid', 
				columnWidth: '.grid'
			});
		});
			
		/*	Lightbox
		/*----------------------------------------------------*/
		$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) { 
			event.preventDefault(); 
			$(this).ekkoLightbox();
		}); 
		
		/*	Isotope
		/*----------------------------------------------------*/
		$.fn.hideReveal = function( options ) {
		  options = $.extend({
			filter: '*',
			hiddenStyle: { opacity: 0.05 },
			visibleStyle: { opacity: 1 },
		  }, options );
		  this.each( function() {
			var $items = $(this).children();
			var $visible = $items.filter( options.filter );
			var $hidden = $items.not( options.filter );
			// reveal visible
			$visible.animate( options.visibleStyle );
			// hide hidden
			$hidden.animate( options.hiddenStyle );
		  });
		};

		var $container = $('.isotope');
		var $container_masonry = $('.masonry');
			  $container_masonry.imagesLoaded( function(){
				$container_masonry.isotope({
				filter: '*',
				animationOptions: {
				  easing: 'linear',
				  queue: false,
			   }
			});
		});
		
		// filter functions
		var filterFns = {
			// show if number is greater than 50
			numberGreaterThan50: function() {
			  var number = $(this).find('.number').text();
			  return parseInt( number, 10 ) > 50;
			},
			// show if name ends with -ium
			ium: function() {
			  var name = $(this).find('.name').text();
			  return name.match( /ium$/ );
			}
		};
  
		// bind filter button click
		$('#filter').on( 'click', 'a', function() {
			var filterValue = $( this ).attr('data-filter');
			// use filterFn if matches value
			filterValue = filterFns[ filterValue ] || filterValue;
			$container.hideReveal({ filter: filterValue });
			$container_masonry.hideReveal({ filter: filterValue });
			return false;
		  });

		// change is-checked class on buttons
		$('#filter').each( function( i, buttonGroup ) {
			var $buttonGroup = $( buttonGroup );
			$buttonGroup.on( 'click', 'a', function() {
			  $buttonGroup.find('.active').removeClass('active');
			  $( this ).addClass('active');
			  return false;
			});
		});
	})(jQuery);
	</script>
{% endblock %}