{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
    <title>GameZone | Games</title>
{% endblock %}

{% block content %}
	<!-- wrapper -->

    <!-- header -->
	<div id="wrapper">
		<section class="no-padding bg-dark border-top-1 border-black">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 no-padding border-right-1 border-black hidden-xs">
				<div class="post-block first">
						<img src="{% static 'img/game-reviews/1.jpg' %}" alt="">
						<div class="overlay">
							<div class="caption">
								<span class="label label-warning"><i class="ion-android-desktop"></i> PC</span>
								<div class="post-title"><h4>Grand Theft Auto V</h4></div>
								<p>Visit Los Santos and Blaine county.</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding-left no-padding border-right-1 border-black">
				<div class="post-block">
						<img src="{% static 'img/game-reviews/2.jpg' %}" alt="">
						<div class="overlay">
							<div class="caption">
								<span class="label label-primary"><i class="ion-playstation"></i> PS4</span>
								<div class="post-title"><h4>Batman: Arkham Knight</h4></div>
								<p>The Epic Conclusion to the Arkham Trilogy.</p>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding-left no-padding hidden-xs">
				<div class="post-block border-bottom-1 border-black">
						<img src="{% static 'img/game-reviews/3.jpg' %}" alt="">
						<div class="overlay">
							<div class="caption">
								<span class="label label-primary"><i class="ion-playstation"></i> PS4</span>
								<div class="post-title"><h4>Metal Gear Solid V: Ground Zeroes</h4></div>
								<p>Play as the legendary hero Snake and infiltrate a Cuban military base to rescue the hostages.</p>
							</div>
						</div>
					</a>
				</div>
				<div class="post-block">
						<img src="{% static 'img/game-reviews/4.jpg' %}" alt="">
						<div class="overlay">
							<div class="caption">
								<span class="label label-success"><i class="ion-xbox"></i> Xbox One</span>
								<div class="post-title"><h4>Alien: Isolation</h4></div>
								<p>How will you survive?</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
    <!-- #/header -->

        <section class="border-bottom-1 border-grey-300 padding-30">
			<div class="container text-center">
                <h2 class="font-size-32 font-weight-500"><i class="ion-ios-game-controller-b"></i> Games<span class="font-weight-300"> Library</span></h2>
			</div>
		</section>

		<section class="padding-top-25 no-padding-bottom border-bottom-1 border-grey-300">
			<div class="container">
				<div class="headline">
					<h4>Games</h4>
                        <input type="text" id="userInput" class="form-control hidden-xs" name="gameSearch" placeholder="Search Game...">

					<div class="dropdown">
						<a href="#" class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-sort-amount-desc"></i> Sort by <i class="ion-android-arrow-dropdown"></i></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'games' filter='sDate' %}">Date</a></li>
							<li><a href="{% url 'games' filter='sTitle' %}">A-Z</a></li>
						</ul>
					</div>

                    <div class="dropdown">
                        <a class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa - fa-gamepad"></i>Platform<i class="ion-android-arrow-dropdown"></i></a>
                            <ul class="dropdown-menu">
							    <li class="dropdown-item"><a href="{% url 'games' filter='All' %}">All</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='cPC' %}">PC</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='cPS4' %}">PS4</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='cXboxOne' %}">Xbox One</a></li>
						    </ul>
					</div>

					<div class="dropdown">
                             <a class="btn btn-default btn-icon-left btn-icon-right dropdown-toggle" data-toggle="dropdown"><i class="fa - fa-calendar"></i>Released Date<i class="ion-android-arrow-dropdown"></i></a>
                             <ul class="dropdown-menu">
							    <li class="dropdown-item"><a href="{% url 'games' filter='All' %}">All</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='y2017' %}">2017</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='y2016' %}">2016</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='y2015' %}">2015</a></li>
							    <li class="dropdown-item"><a href="{% url 'games' filter='y2014' %}">2014</a></li>
                                <li class="dropdown-item"><a href="{% url 'games' filter='y2013' %}">2013</a></li>
                                <li class="dropdown-item"><a href="{% url 'games' filter='y2012' %}">2012</a></li>
                                <li class="dropdown-item"><a href="{% url 'games' filter='y2011' %}">2011</a></li>
						    </ul>
					</div>
				</div>
			</div>
		</section>

		<section class="bg-grey-50">
			<div class="container">
				<div class="row">
                {% if games %}
                    {% for game in games %}
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="card">
							<div class="card-img">
								<a href="{% url 'game_single' pk=game.pk %}"><img src="{{ game.image.url }}" alt=""></a>
                                {% if game.console == 'PC' %}
                                    <div class="category"><span class="label label-warning"><i class="ion-android-desktop"></i>PC</span></div>
                                {% elif game.console == 'XboxOne' %}
                                    <div class="category"><span class="label label-success"><i class="ion-xbox"></i>Xbox One</span></div>
                                {% elif game.console == 'PS4' %}
                                    <div class="category"><span class="label label-primary"><i class="ion-playstation"></i>PS4</span></div>
                                {% endif %}
							</div>
							<div class="caption">
								<h3 class="card-title"><a href="{% url 'game_single' pk=game.pk %}">{{ game.title }}</a></h3>
								<ul><li>{{ game.released_date }}</li></ul>
								<span class="more">{{ game.short_description }}</span>
							</div>
						</div>
					</div>
                    {% endfor %}
                {% else %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h1 align="center">No results matching the search criteria...</h1>
                    </div>
                {% endif %}
				</div>

            {% if games.has_other_pages %}
				<ul class="pagination margin-top-20">
                    {% if games.has_previous %}
                        <li><a href="?page={{ games.previous_page_number}}">Previous</a></li>
                    {% else %}
                        <li class="disabled"><span>Previous</span></li>
                    {% endif %}
                    {% for i in games.paginator.page_range %}
                        {% if games.number == i %}
                            <li class="active"><span>{{ i }}<span class="sr-only">(Current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if games.has_next %}
                        <li><a href="?page={{ games.next_page_number}}">Next</a></li>
                    {% else %}
                        <li class="disabled"><span>Next</span></li>
                    {% endif %}
				</ul>
            {% endif %}
			</div>
		</section>
	</div>
	<!-- /#wrapper -->

{% endblock content %}

{% block javascript %}
    <script>
	(function($) {
	"use strict";

        $(document).ready(function() {
        // Configure/customize these variables.
            var showChar = 50;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "Show more >";
            var lesstext = "Show less";


        $('.more').each(function() {
            var content = $(this).html();
            if(content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

            $(this).html(html);
            }
        });

        $(".morelink").click(function(){
            if($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
            });
        });
	})(jQuery);

	$('#userInput').on('keyup', function(e) {
    if (e.keyCode === 13) {
        var userInput = document.getElementById('userInput').value;
        var url = "{% url 'games' filter='All' %}".replace(/All/, 't'+userInput);
        window.location.href = url;
    }
    });
	</script>
{% endblock %}